/node_modules
/dump
/import/*
!/import/import_json.*

/config/*
!/config/default-item-config.js
/npm-debug.log

!/config/.gitkeep 

/dpd/data
/dpd/.dpd
/dpd/resources/items/config.json
/dpd/public
/dpd/node_modules/*/

!/dpd/node_modules/*.js
!/dpd/node_modules/*.js

/public_api/node_modules
#/public_api/import/*
/public_api/ic-item-config.*

/dump

migrate-infocompass.js
data.json
