/node_modules
/dump
/import/*
!/import/*.mjs

/npm-debug.log

/dpd/data
/mongodb/data/**/*
!/mongodb/data/.gitkeep
/dpd/.dpd
/dpd/resources/items/config.json
/dpd/public
/dpd/node_modules/**/*

/logs
!/logs/.gitkeep

/public_api/node_modules
#/public_api/import/*
/public_api/ic-item-config.*

/dump

migrate-infocompass.js
data.json
.env